body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  margin-bottom: 100px;
}
h1 {
  font-size: 60px;
  color: #575757;
}
h2 {
  color: #575757;
  font-size: 30px;
}
p {
  margin-bottom: 55px;
  color: #575757;
}

.purple-color {
  color: #612ced;
}

.flexible-container {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  align-items: center;
}
nav img {
  width: 150px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #575757;
}

.nav-links ul li a:hover {
  background-color: #612ced;
  color: white;
  padding: 3px 5px;
  transition: 0.5s;
}

#header-textbox {
  margin-top: 50px;
}
.half-width {
  width: 50%;
  padding-left: 30px;
}
.half-width p {
  width: 70%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  border: 3px solid #612ced;
  color: #575757;
  padding: 15px 40px;
  border-radius: 25px;
  font-weight: 400;
}

.link-button:hover {
  background-color: #612ced;
  color: white;
  transition: 0.5s;
}

.about-me {
  background-image: url(images/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 10px 0px 40px rgba(83, 32, 32, 0.2);
  padding-top: 80px;
  position: relative;
  align-items: center;
}
.about-me h2 {
  margin-bottom: 30px;
}
.about-me p {
  margin-bottom: 50px;
  width: 50%;
}
#aboutme-textbox {
  padding-left: 100px;
}
#person-image {
  width: 50%;
  padding-left: 200px;
}

.recipe-text {
  text-align: center;
}
.recipe-item {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: block;
  padding: 15px;
}

.recipe-item img {
  width: 100%;
}
.recipes {
  margin: auto;
}

.social-info {
  margin: 0 50px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.social-item {
  display: block;
  margin: 0 auto;
}

.contact {
  background-image: url(images/bg-1.jpg);
  background-size: initial;
  box-shadow: 10px 0px 40px rgba(83, 32, 32, 0.2);
}
.contact-me {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
i {
  color: #612ced;
  font-size: 4em;
  position: relative;
}

.inline-icon {
  text-align: center;
  margin: 0 auto;
}
footer {
  padding-top: 10px;
  text-align: center;
  background-color: rgb(20, 20, 20);
  height: 200px;
}
footer h2 {
  font-size: 40px;
}
