body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  margin-bottom: 100px;
}
h1 {
  font-size: 60px;
  color: #575757;
}
h2 {
  color: #575757;
}
p {
  margin-bottom: 55px;
  color: #575757;
}

.purple-color {
  color: #612ced;
}

.flexible-container {
  display: flex;
}
.header {
  margin-top: 100px;
}

#header-textbox {
  margin-top: 100px;
}
.half-width {
  width: 50%;
  padding-left: 30px;
}
.half-width p {
  width: 70%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  border: 3px solid #612ced;
  color: #575757;
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: 400;
}

.link-button:hover {
  background-color: #612ced;
  color: white;
  transition: 0.5s;
}

.about-me {
  background-image: url(images/bg-1.jpg);
  background-repeat: no-repeat;
  background-attachment: initial;
  padding-top: 80px;
}
.about-me h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.about-me p {
  margin-bottom: 100px;
  width: 50%;
}
#aboutme-textbox {
  padding-left: 100px;
}
#person-image {
  width: 30%;
  padding-left: 200px;
}

.recipe-text {
  text-align: center;
}

.recipe-text h2 {
  font-size: 30px;
}
